# Editor temporary/working/backup files #
#########################################
.#*
[#]*#
*~
*$
*.bak
*.kdev4
.project
.pydevproject
#backups

################
# *finder.py


#    Python    #
################
*.py[cod]
# setup.py working directory
build
# sphinx build directory
doc/_build
doc/*.html
doc/_static
# setup.py dist directory
dist
# Egg metadata
*.egg-info
# Egg
*.egg
# Installer logs
pip-log.txt

# Jupyter Notebook
.ipynb_checkpoints
kernel-*.json

# Compiled source #
###################
*.a
*.com
*.class
*.dll
*.exe
*.o
*.so

# Unit test / coverage reports #
################################
.coverage
.tox
nosetests.xml

# OS generated cruft #
######################
.directory
.gdb_history
.DS_Store?
ehthumbs.db
Icon?
Thumbs.db



# OS and IDE
################################
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk



# VScode ignore
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

